<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.akira.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.akira.pojo.User">
        <!--@mbg.generated-->
        <!--@Table T_USER-->
        <id column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="login_email" jdbcType="VARCHAR" property="loginEmail"/>
        <result column="login_phone_no" jdbcType="VARCHAR" property="loginPhoneNo"/>
        <result column="rsa_password" jdbcType="VARCHAR" property="rsaPassword"/>
        <result column="user_role" jdbcType="VARCHAR" property="userRole"/>
        <result column="user_state" jdbcType="VARCHAR" property="userState"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="addr" jdbcType="VARCHAR" property="addr"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="cid" jdbcType="VARCHAR" property="cid"/>
        <result column="cid_type" jdbcType="VARCHAR" property="cidType"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, login_name, login_email, login_phone_no, rsa_password, user_role, user_state,
        gender, birthday, addr, real_name, cid, cid_type
    </sql>
    <select id="querySessionCols" resultMap="BaseResultMap">
        SELECT t.USER_ID,
        t.user_role,
        t.login_name,
        t.login_email,
        t.login_phone_no,
        t.cid,
        t.cid_type,
        t.real_name,
        t.rsa_password,
        t.user_state
        FROM T_USER t
        <where>
            <if test="userId != null">
                AND t.user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="userRole != null">
                AND t.user_role = #{userRole,jdbcType=VARCHAR}
            </if>
            <if test="loginName != null and loginName != ''">
                AND t.login_name = #{loginName}
            </if>
            <if test="loginEmail != null and loginEmail != ''">
                AND t.login_email = #{loginEmail}
            </if>
            <if test="loginPhoneNo != null and loginPhoneNo != ''">
                AND t.login_phone_no = #{loginPhoneNo}
            </if>
            <if test="cid != null and cid != ''">
                AND t.cid = #{cid}
            </if>
        </where>
    </select>
    <select id="queryCountByConditions" resultType="java.lang.Integer" parameterType="cn.akira.pojo.User">
        SELECT COUNT(USER_ID) from T_USER
        <where>
            <if test="loginEmail != null and loginEmail != ''">
                AND LOGIN_EMAIL = #{loginEmail}
            </if>
            <if test="loginName != null and loginName != ''">
                AND LOGIN_NAME = #{loginName}
            </if>
            <if test="loginPhoneNo != null and loginPhoneNo != ''">
                AND LOGIN_PHONE_NO = #{loginPhoneNo}
            </if>
        </where>
    </select>
    <insert id="insert">
        INSERT INTO T_USER(
        USER_ID,
        <if test="loginName != null and loginName != ''">
            LOGIN_NAME,
        </if>
        <if test="loginEmail != null and loginEmail != ''">
            LOGIN_EMAIL,
        </if>
        <if test="loginPhoneNo != null and loginPhoneNo != ''">
            LOGIN_PHONE_NO,
        </if>
        <if test="rsaPassword != null and rsaPassword != ''">
            RSA_PASSWORD,
        </if>
        <if test="userRole != null and userRole != ''">
            USER_ROLE,
        </if>
        <if test="userState != null and userState != ''">
            USER_STATE,
        </if>
        <if test="gender != null and gender != ''">
            GENDER,
        </if>
        <if test="birthday != null">
            BIRTHDAY,
        </if>
        <if test="addr != null and addr != ''">
            ADDR,
        </if>
        <if test="realName != null and realName != ''">
            REAL_NAME,
        </if>
        <if test="cid != null and cid != ''">
            CID,
        </if>
        <if test="cidType != null and cidType != ''">
            CID_TYPE,
        </if>
        REG_DATE
        )values ( SEQ_USER_ID.nextval,
        <if test="loginName != null and loginName != ''">
            #{loginName},
        </if>
        <if test="loginEmail != null and loginEmail != ''">
            #{loginEmail},
        </if>
        <if test="loginPhoneNo != null and loginPhoneNo != ''">
            #{loginPhoneNo},
        </if>
        <if test="rsaPassword != null and rsaPassword != ''">
            #{rsaPassword},
        </if>
        <if test="userRole != null and userRole != ''">
            #{userRole},
        </if>
        <if test="userState != null and userState != ''">
            #{userState},
        </if>
        <if test="gender != null and gender != ''">
            #{gender},
        </if>
        <if test="birthday != null">
            #{birthday},
        </if>
        <if test="addr != null and addr != ''">
            #{addr},
        </if>
        <if test="realName != null and realName != ''">
            #{loginName},
        </if>
        <if test="cid != null and cid != ''">
            #{cid},
        </if>
        <if test="cidType != null and cidType != ''">
            #{cidType},
        </if>
        SYSDATE
        )
    </insert>
</mapper>